.cardClass{
    width: 300px;
    height: 240px;
    margin: 0px;
    margin-top:20px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    border: black 5px none;
    box-shadow: 4px 4px 15px  #252525;
    ;
    overflow: auto;
    font-family: roboto;
    border-radius: 5px;
}

#operarioId{
    /* font-size: 48px;  Esto es una prueba el original son 48px */
    font-size: 48px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
#locationData{
    background-color: #6CA7D2;
    height: 120px;
    margin-bottom: 0px;
    color:black;
}

#busId{
    font-size: 34px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
}

#locationId{
    font-size: 34px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}